/*CSS Styling Code Here*/

/*basic color mode*/
:root {
    --background-color: #fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --project-card-bg: #ffffff00; /*transparent*/
    --text-color: #222;
    --form-text-color: #555;
    --footer-text-color: #888;
}

/*dark mode*/
[data-theme='dark'] {
    --background-color: #222;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: #fff;
    --text-color: #fff;
    --form-text-color: #fff;
    --footer-text-color: #bbb;
}

/*adjusting space, also "flex" flexible re-adjusting modules when changing window size*/
body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/*select HTML header*/
/*change color setting, by using a var: --text-color above*/
h1,h2,h3,p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2, h3, p {
    font-family: 'Roboto Mono', monospace;
}

h1, h2{
    text-transform: uppercase;
}

h2, h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

p{
    font-size: 16px;
    font-weight: 300;
}

.sectionTitle {
    margin-bottom: 30px;
}

.hover {
    cursor: pointer;
}

/*when window size width is >= 800px, font will be bigger*/
@media (width >= 800px) {
    #root {
        gap: 100px;

    }
    h1 {
        font-size: 40px;
    }
    h2,h3 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }

    .sectionTitle {
        margin-bottom: 60px;
    }
}

/* when windoe size >= 1400px*/
@media (width >= 1400px) {
    #root {
        gap: 200px;

    }
    h1 {
        font-size: 48px;
    }

    .sectionTitle {
        margin-bottom: 75px;
    }
}